<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading"> Liste des produits: </div>
        <div class="panel-body">
            <form #searchForm="ngForm" (ngSubmit)="onSearchProducts(searchForm.value)">
                <div class="form-group">
                    <label>Mot clef: </label>
                    <input type="text" name="keyword" ngModel />
                    <input type="submit" class="btn btn-primary" value="Chercher" />
                </div>
            </form>
        </div>

        <div class="panel-body">
            <table class="table table-bordered" *ngIf="this.jsonProducts!=undefined">
                <tr>
                    <th>id</th>
                    <th>Designation</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
                <tr *ngFor="let p of this.jsonProducts._embedded.products">
                    <td>{{p.id}}</td>
                    <td>{{p.designation}}</td>
                    <td>{{p.price|number:"0.2"}}</td>
                    <td>{{p.quantity}}</td>
                    <td><a class="btn btn-danger" (click)="onDeleteProduct(p)">Supprimer</a></td>
                    <td><a class="btn btn-success" (click)="onEditProduct(p)">Modifier</a></td>
                </tr>
            </table>
        </div>

        <div>
            <ul *ngIf="this.pagesArray" class="nav nav-pills">
                <!-- i==this.pageNbr verifie que i a linterieur de la boucle correspond a le i cliqué ds la page-->
                <li [ngClass]="i==this.pageNbr?'active':''" *ngFor='let pge of this.pagesArray; let i=index'>
                    <a (click)="onNavigateToPage(i)" class="_curseur">{{i}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>