<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading"> Liste des produits: </div>
        <div class="panel-body">
            <form #f1="ngForm" (ngSubmit)="onSearchProducts(f1.value)">
                <label>Mot clef: </label>
                <input type="text" name="keyword" ngModel />
                <input type="submit" class="btn btn-primary" value="Chercher" />
            </form>
        </div>

        <div class="panel-body">
            <table class="table table-striped" *ngIf="this.jsonProducts!=undefined">
                <tr>
                    <th>id</th>
                    <th>Designation</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
                <tr *ngFor='let p of this.jsonProducts._embedded.products'>
                    <td>{{p.id}}</td>
                    <td>{{p.designation}}</td>
                    <td>{{p.price|number:"0.2"}}</td>
                    <td>{{p.quantity}}</td>
                    <td><button class="btn btn-danger" (click)="onSupprimerProduct(p)">Supprimer</button></td>
                </tr>
            </table>
        </div>

        <div>
            <ul *ngIf="this.pagesArray" class="nav nav-pills">
                <!-- i==this.pageNbr verifie que i a linterieur de la boucle correspond a le i cliqué ds la page-->
                <li [ngClass]="i==this.pageNbr?'active':''" *ngFor='let pge of this.pagesArray; let i=index'>
                    <a (click)="onNavigateToPage(i)" class="_curseur">{{i}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>