<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E-commerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class="_curseur" (click)="this.onNavigateToShowSelectedProducts()">Home</a>
      </li>
      <li class="dropdown">
        <a  *ngIf="this.isAuthenticated()" class="dropdown-toggle" data-toggle="dropdown" href="#">Produits
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf="this.isUser()"><a class="_curseur" (click)="this.onNavigateToShowProductsByCategory(1)">Produits par catégorie</a></li>
          <li *ngIf="this.isUser()"><a class="_curseur" (click)="this.onNavigateToShowSelectedProducts()">Produits sélectionnés</a></li>
          <li *ngIf="this.isUser()"><a class="_curseur" (click)="this.onNavigateToShowOnPromotionProducts()">Produits en promo</a></li>
          <li *ngIf="this.isAdmin()"><a routerLink="/products-grid">Chercher</a></li>
          <li *ngIf="this.isAdmin()"><a routerLink="/new-product">Ajouter</a></li>
        </ul>
      </li>
      <li class="dropdown" *ngIf="this.isAdmin()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/categories-grid">Chercher</a></li>
          <li><a routerLink="/new-category">Ajouter</a></li>
        </ul>
      </li>
      <li *ngIf="!this.isAdmin() && this.isAuthenticated()"><a routerLink="/caddies">Panier</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li  *ngIf="!this.isAdmin() && this.caddyService.getCurrentCaddy() && this.isAuthenticated()">
        <a>
          {{this.caddyService.getCurrentCaddy()?.name}}&nbsp;:&nbsp;{{this.caddyService.getCurrentCaddy()?.caddyItems?.size}}
        </a>
      </li>
      <li>
        <a class="btn" (click)="onLgout()">
          <span *ngIf="this.isAuthenticated()">
            Bienvenu {{this.getAuthenticatedUserUsername()}}&nbsp;
          </span>
          <span [title]="this.isAuthenticated()?'Logout':'Login'"
            [ngClass]="this.isAuthenticated()? 'glyphicon glyphicon-log-out':'glyphicon glyphicon-log-in'">
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="col-md-3" *ngIf="this.showingMode==1 || this.showingMode==2">
  <ul class="list-group" *ngIf="this.categories">

    <a [ngClass]="this.clickedCategoryId==category.id?'active':''" class="list-group-item _curseur"
      *ngFor="let category of this.categories._embedded.categories">
      <span (click)="onNavigateToShowProductsByCategory(category.id)">{{category.name}}</span>
    </a>
  </ul>
</div>

<div class="col-md-9">
  <router-outlet>

  </router-outlet>
</div>