<div class="panel panel-default">
    <div class="panel-heading">
        {{this.caddyService.getCurrentCaddy()?.name}}
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Référence</th><th>Designation</th><th>Quantité commandée</th><th>Prix</th>
                </tr>
            </thead>
            <tbody *ngIf="this.caddyService.getCurrentCaddy()">
                <tr *ngFor="let caddyItemKey of this.caddyService.getCurrentCaddy()?.caddyItems?.keys()">
                    <td>{{this.caddyService.getCurrentCaddy()?.caddyItems?.get(caddyItemKey)?.associatedProduct?.reference}}</td>
                    <td>{{this.caddyService.getCurrentCaddy()?.caddyItems?.get(caddyItemKey)?.associatedProduct?.designation}}</td>
                    <td>{{this.caddyService.getCurrentCaddy()?.caddyItems?.get(caddyItemKey)?.purchasedQuantity}}</td>
                    <td>{{this.caddyService.getCurrentCaddy()?.caddyItems?.get(caddyItemKey)?.buyingPrice|number:'0.2'}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" (click)="onRemoveCaddyItemFromCaddy(caddyItemKey)" title="Supprimer">
                            <span class="glyphicon glyphicon-remove" ></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><b>Total</b></td>
                    <td><b>{{this.caddyService.getTotalAmountOfCurrentCaddy()|number:'0.2'}}</b></td>
                </tr>
            </tbody>
        </table>
        <button [disabled]="this.caddyService.getCurrentCaddy()?.caddyItems?.size==0" class="btn btn-success" (click)="onCreateNewOrder()" >Commander</button>
    </div>
</div>