<div class="panel panel-default">
    <div class="panel-heading">Créer nouveau produit</div>
    <div class="panel-body" *ngIf="!this.isSaved">
        <form #savingForm="ngForm" (ngSubmit)="onAddProduct(savingForm.value)">
            <div class="form-group">
                <label class="control-label">Désignation: </label>
                <input class="form-control" type="text" name="designation" required ngModel>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea class="form-control" name="description" cols="20" rows="6" ngModel></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Prix courant:</label>
                <input class="form-control" type="text" name="currentPrice" ngModel>
            </div>
            <div class="form-group">
                <label class="control-label">En promotion? </label><br>
                <input type="radio" name="isOnPromotion" value="true" ngModel><label>&nbsp; Oui</label><br>
                <input type="radio" name="isOnPromotion" value="false" ngModel><label>&nbsp; Non</label>
            </div>
            <div class="form-group">
                <label class="control-label">Quantité:</label>
                <input class="form-control" type="number" name="quantity" ngModel>
            </div>
            <div class="form-group">
                <label class="control-label">Image: </label>
                <!-- utilisation de l'upload a Firebase Storage -->
                <div class="my-3">
                    <!-- voir le component upload-form.component.ts -->
                    <app-upload-form typeUpload="add" ></app-upload-form>
                    <!--  ajoute par par moi, pr recup URL photo -->
                    <input type="hidden" name="photoName" ngModel
                        [(ngModel)]="this.fileUploadService.photoDwonloadURLFromFireStorage"
                        [value]="this.fileUploadService.photoDwonloadURLFromFireStorage" />
                </div>
                <!-- utilisation de l'upload au serveur backend -->
                <!-- <input class="form-control" type="file" name="photoName" ngModel (change)="onSelectPhotos($event)"> -->
                <!-- <button class="btn btn-primary btn-sm" value="Upload" (click)="onUploadPhotos()"
                    [disabled]="!this.selectedPhotos">
                    Upload&nbsp;<span class="glyphicon glyphicon-upload"></span>
                </button> -->
                <!-- {{this.progress}}% -->
            </div>

            <div class="form-group" *ngIf="this.allCategories">
                <label class="control-label">Catégorie:</label>
                <select class="form-control" name="productCategory" ngModel>
                    <option [ngValue]="null" disabled>-- Sélectionner une catégorie --</option>
                    <option *ngFor="let cat of this.allCategories._embedded.categories" [ngValue]="cat">
                        {{cat.name}}
                    </option>
                </select>
                <button class="btn btn-success btn-xs" type="button" routerLink="/new-category">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
            <button class="btn btn-success" type="submit">Ajouter</button>
        </form>
    </div>

    <div class="panel-body" *ngIf="this.isSaved==true">
        <p><button class="btn btn-success" (click)="onNavigateToNewProduct()">Nouveau Produit</button></p>
        <div class="form-group"><label>ID:</label> {{this.savedProduct.id}}</div>
        <div class="form-group"><label>Réréfrence:</label> {{this.savedProduct.reference}}</div>
        <div class="form-group"><label>Designation:</label> {{this.savedProduct.designation}}</div>
        <div class="form-group"><label>Description:</label> {{this.savedProduct.description}}</div>
        <div class="form-group"><label>Prix courant:</label> {{this.savedProduct.currentPrice}}</div>
        <div class="form-group"><label>Quantité:</label> {{this.savedProduct.quantity}}</div>
        <div class="form-group"><label>Promotion:</label> {{this.savedProduct.isOnPromotion}}</div>
        <div class="form-group"><label>Disponible:</label> {{this.savedProduct.isAvailable}}</div>
        <div class="form-group"><label>Catégorie:</label> {{this.selectedCategory.name}}</div>
    </div>
</div>