<div class="container">
    <div class="col-md-9 col-sm-6" *ngIf="this.products">
        <h3>{{this.title}}</h3>
        <div class="panel panel-info col-md-4" *ngFor="let product of this.products">
            <div class="panel-heading">
                <h5 class="panel-title">{{product.designation}}</h5>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><img height="150" width="150"
                                src="{{this.HOST+'/get-product-photo/'+product.photoName+'?ts='+this.getCurrentTimeStamp()}}">
                        </td>
                        <td>{{product.currentPrice|number:'0.2'}}</td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="this.authenticationService.isAdmin()">
                                <button (click)="onEditPhoto(product)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <div *ngIf="this.isEditPhoto && this.currentProduct==product">
                                    <input type="file" (change)="onSelectPhotos($event)">
                                    <input class="btn btn-primary" type="button" value="Upload"
                                        (click)="onUploadPhotos()" [disabled]="!this.selectedPhotos">
                                    {{this.progress}}%
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>